## Python 1Hr For Beginners

### Variables

In [1]:
variable_1 = 10
variable_2 = "Hello, world!"
variable_3 = 3.14
is_active = True
user_name = "Alice"

### Input
Taking inputs using python

In [1]:
name = input("What is your name? ")
print("Hello " + name) #String Concatination

What is your name? yawa
Hello yawa

### Type Conversion 
Type conversion functions in Python:

1. **`int(x)`**: Converts `x` to an integer.
2. **`float(x)`**: Converts `x` to a floating-point number.
3. **`str(x)`**: Converts `x` to a string.
4. **`bool(x)`**: Converts `x` to a Boolean value.
5. **`list(x)`**: Converts `x` to a list.
6. **`tuple(x)`**: Converts `x` to a tuple.
7. **`dict(x)`**: Converts `x` to a dictionary.
8. **`set(x)`**: Converts `x` to a set.

In [8]:
birth_year = input("Enter your birthyear: ")
age = 2023 - int(birth_year) #Type Conversion
print(age)

Enter your birthyear: 1999
24

In [13]:
first = input("first ")
second = input("second ")

sum = float(first)+float(second) #Type Conversion 

print("sum " + str(sum)) #string Type COnversion

first 12.5
second 12.5
sum 25.0

In [14]:
first = float(input("first "))  #Type Conversion
second = float(input("second "))  #Type Conversion

sum = first + second 

print("sum " + str(sum)) #string Type COnversion

first 12.5
second 12.5
sum 25.0

### Arithmetic Operators 

1. Exponentiation (**)
2. Unary positive (+) and unary negation (-)
3. Multiplication (*), division (/), floor division (//), and modulo (%)
4. Addition (+) and subtraction (-)

Python follows the standard mathematical order of operations, also known as PEMDAS/BODMAS, where operations within parentheses are evaluated first, followed by exponentiation, then multiplication and division, and finally addition and subtraction.

In [16]:
x =(10+3) * 2 
print(x)

26

### Comparison Operators 

Comparison operators in Python:

1. **Equal**: `==`
2. **Not Equal**: `!=`
3. **Greater Than**: `>`
4. **Less Than**: `<`
5. **Greater Than or Equal**: `>=`
6. **Less Than or Equal**: `<=`

These operators are used to compare values and return Boolean results (`True` or `False`) based on whether the comparison is true or not.

### Logical Operators 

logical operators in Python:

1. **Logical AND**: `and`
2. **Logical OR**: `or`
3. **Logical NOT**: `not`

These operators are used to perform logical operations on Boolean values and expressions.

In [18]:
price = 5 
print(price > 10 or price < 30)

True

#### IF statements 

Certainly, here's the basic structure of an `if` statement in Python:

```python
if condition:
    # Code to execute if the condition is True
```

And here's the structure of an `if` statement with an optional `else` block:

```python
if condition:
    # Code to execute if the condition is True
else:
    # Code to execute if the condition is False
```

You can also use `elif` (short for "else if") to include multiple conditions:

```python
if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition2 is True
elif condition3:
    # Code to execute if condition3 is True
else:
    # Code to execute if none of the conditions are True
```

Remember, the code block after the `if`, `elif`, or `else` keywords should be indented to indicate the scope of the code that should be executed based on the conditions.

### While loop

With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
i = 1 
while i <= 5:
    print(i)
    i=i+1

1
2
3
4
5

### List
Lists are used to store multiple items in a single variable.

In [8]:
names = ["jhon","mary","sam","marry"]
names[0] = "jake" #acces element and change value 
print(names[0])  # zero is the frist element 
print(names[-1]) # -1 is the end of the list the last element
print(names[-2]) # -2 is the 2nd to the last element
print(names[0:3])# print the from index 0-3 exluding the last  
print(names)

jake
marry
sam
['jake', 'mary', 'sam']
['jake', 'mary', 'sam', 'marry']

### List methods

In [1]:
numbers = [1,2,3,4,5]
numbers.insert(0, -1) # insert value (index int,object)
numbers.remove(3) #remove 3 remove value 
#numbers.clear() #clear the list 
print(1 in numbers) #search 1 in list 
print(len(numbers)) #length of the list 
print(numbers)

True
5
[-1, 1, 2, 4, 5]

### For loops 
 list application

In [5]:
numbers = [1,2,3,4,5]

for item in numbers: #itrate each number in the list for each iteration this var is going to hold 1 value
    print(item)

1
2
3
4
5

In [7]:
numbers = [1,2,3,4,5]  # WHile loop list iteration 
i = 0 

while i<len(numbers):
    print(numbers[i])
    i=i+1

1
2
3
4
5

### Range

In [14]:
#numbers = range(5) #range of 5 is starting to index 0-5 
numbers = range(5, 10) #range of 5 - 9 because starting index is 0
numbers = range(5, 10 ,2) # 3rd value is a step so it will step by 2 
for number in numbers:
    #for number in range(5): #it will stop at 4 because of the range method range(5)
    print(number)

5
7
9

### Tuples 
**Unchangable**
same as list but you canot change them
numbers = (1,2,3)

In [15]:
numbers = (1,2,3,4,5)
numbers.